<div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
  <div class="review-page">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-lg-push-3 col-md-push-3">
        <div class="my-wish-account-right">
          <div class="well well-sm">
           <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-sx-12"><strong class="wish-text-right">WISHLIST </strong>(
              <span class="wishlist-count">
                <%= @wishlist.present? ? @wishlist.wished_products.size : 0%>
              </span> Items)
              <span class=""> <i class="fa fa-heart heart-wishlist"></i> Recently Added</span></div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-sx-12 innovative-text">BEST DESIGNS OF 2015 <span class="wish-text-right">NEW INNOVATIVE MODERN LIGHTING</span></div>
           </div>
          </div>
        </div>
        <%= render partial: 'spree/wishlists/wishlists'%>
      </div>
      <div class="col-lg-3 col-md-3 col-lg-pull-9 col-md-pull-9">
        <div class="choose-review">
          MY ACCOUNT
        </div>
        <div class="my-wish-account">
          <ul class="nav">
            <li><span class="glyphicon glyphicon-file"></span> 
              ORDERS
              <p><%= link_to "Orders", account_path %></p>
            </li>
            <li><span class="glyphicon glyphicon-user"></span> PROFILE  
              <p> Shortlist </p> <p>
              <%= link_to "Change Password", edit_account_path %></p>
            </li>
          </ul>
        </div>        
      </div>
    </div>
  </div>
</div>
