<div class="footer-top">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <div class="mad-center-txt">MAD FOR MODERN? WE CAN RELATE <br><span>Discover the best in modern from industry icon, innovative up starts, and everything in between</span></div>
      </div>
    </div>
    <div class="row">
      <div class="free-shipping-bx">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="ship-box text-center">
            <p class="ship-box-title">FREE SHIPPING</p>
            <p class="ship-box-content">It is a long established fact that a reader will be distracted by the</p>
            <p><a href="#">View More...</a></p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="ship-box text-center">
            <p class="ship-box-title">EXPERT SERVICE</p>
            <p class="ship-box-content">It is a long established fact that a reader will be distracted by the</p>
            <p><a href="#">View More...</a></p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="ship-box text-center">
            <p class="ship-box-title">CREDIT CARD</p>
            <p class="ship-box-content">It is a long established fact that a reader will be distracted by the</p>
            <p><a href="#">View More...</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
    <div class="signup">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <p class="ship-box-title">Newsletter <br> <span class="ship-box-content">to find out about special offers, sales, exclusive promotions, and more.</span></p>
        <div>
          <form role="search">
          <div class="input-group">
              <input type="text" name="q" placeholder="type your email..." class="form-control">
              <div class="input-group-btn">
                  <button type="submit" class="btn btn-default">Submit</button>
              </div>
          </div>
          </form>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
        <p class="ship-box-title">Connect with Us <br> 
          <span class="ship-box-content">Join the conversation about modern design</span>
        </p>
        <div class="ftr-socail">
          <ul class="social-network social-circle">
            <li><a title="Rss" class="icoRss" href="#"><i class="fa fa-rss"></i></a></li>
            <li><a title="Facebook" class="icoFacebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a title="Twitter" class="icoTwitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a title="Google +" class="icoGoogle" href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a title="Linkedin" class="icoLinkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>