
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  src: local('Signika'), local('Signika-Regular'), url(https://fonts.gstatic.com/s/signika/v6/q41y_9MUP_N8ipOH4ORRvw.woff2) format('woff2');
}
body{
  font-family: 'Signika', sans-serif;
  color:#666;
  font-weight:normal;
}
/*====product right start===========*/
.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
    background-color: #F5F5DC;
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #219FD1;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}
.adcrt{
  padding-left:0px;
}

.my-pro-grid .lead{
  color:#ff8500;
  font-size:13pt;
}
.my-pro-grid .list-group-item{
  border:none;
}
.my-pro-grid .thumbnail{
  border:none;
}
.my-pro-grid .thumbnail .caption{
  text-align:center;
}
.bcum .breadcrumb{
  margin-bottom:0px;
  border-radius:0;
}
.bcum-im{
  margin-bottom:10px;
}

@media only screen and (min-width: 1024px) {
  main p {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

.cd-top {
  display: inline-block;
  border-radius: 50%;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(29, 188, 205, 0.8) url(/assets/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #feac00;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 40px;
    width: 40px;
    right: 30px;
    bottom: 30px;
  }
}

.my-pro-grid .well{
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: none;
  border-bottom:solid 1px #ccc;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 20px;
    /*min-height: 20px;
    padding: 19px;*/
}
.my-pro-grid .list-group-item-heading{
  font-size:12pt;
  color:#666;
  font-weight:normal;
}
.view-type{
  font-size:12pt;
  color:#666;
  font-weight:normal;
  padding-right:15px;
}
.pro-bottom-txt{
  font-size:12pt;
  color:#000;
  font-weight:normal;
  padding-right:15px;
}
.see-mor-txt{
  font-size:10pt;
  color:#000;
  font-weight:normal;
}
.see-mor-txt a{
  color:#666;
}
.add-color-chng{
  color:#1dbccd;
  font-size:11pt;
  margin-top:8px;
}
.add-color-chng a{
  color:#666;
}
.add-color-chng i{
  color:#1dbccd;
  font-size:14pt;
    padding-right:5px;
}
.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    /*background: #428bca;*/
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    /*background: #eeeeee;*/
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

/*====product right end===========*/
.list-group-item .caption{
  border-bottom:solid 1px #ccc;
}
.top-bg{
  background:#00334e;
  color:#fff;
  font-size:9pt;
  padding:5px 0 0 0;
}
.mob-lg{
  font-size:20pt;
  font-weight:normal;
  vertical-align:middle;
}
.mob-nmbr{
  font-size:11pt;
  font-family: 'Signika', sans-serif;
}
.mar-pad{
  padding:0px;
}
.trac-ord ul{
  line-height:22px;
  font-family: 'Signika', sans-serif;
}
.trac-ord ul li a{
  color:#fff;
}
.trac-ord ul li a:hover{
  color:#ff8500;
}
.srch-lbl input{
  border-radius:0;
  margin-top:8%;
}
.head-marg{
  margin-top:10px;
  margin-bottom: 10px;
}

.free-shipping ul li{
  font-size:10pt;
  padding:0 15px;
  line-height: 15px;
  margin-top:10px;
}
.free-shipping ul li a{
  color:#666;
  font-size:14px;
}
.free-shipping ul li a:hover{
  color:#ff8500;
  text-decoration:none;
}
/*.free-shipping .dropdown-menu {
  background:red !important;
  box-shadow:none;
}*/
.cart-tx{
  position: relative;
  padding:0px 5px 0px 0px;
}
.cart-tx2{
  position: absolute;
  right: 21px;
  top: 6px;
  color:#fff !important;
}
.sml-tx{
  font-size:8pt;
  color:#ff8500 !important;
}
/*====menu start===========*/
.ftr-titl-mnu {
     font-size: 15px;
     color: #ff8500;
}
.ftr-arw-sew{
  color:#1dbccd;
}
.list-none{
  list-style:none;
}
.navbar-brand { 
  width: 70px;
  height: 50px;
}

.nav-tabs {
  display: inline-block;
  border-bottom: none;
  padding-top: 15px;
  font-weight: bold;
}
.nav-tabs > li > a, 
.nav-tabs > li > a:hover, 
.nav-tabs > li > a:focus, 
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: none;
  border-radius: 0;
}

.nav-list { }
.nav-list > li { 
  /*padding: 20px 15px 15px;*/
}
.nav-list > li:last-child {}
.nav-list > li > a:hover { text-decoration: none; }
.nav-list > li > a > span {
  display: block;
  font-weight: bold;
}

.mega-dropdown { position: static !important; }
.mega-dropdown-menu {
  line-height:27px;
  padding: 0px 0px 35px;
  width: 100%;
}
.navbg-remove .navbar-default{
  background:none;
  border:none;
  margin-bottom:0px;
}
.bordr-top{
  border-bottom:solid 1px #d9d9d9;
}
.bnr-pad{
  padding-left:0px;
}
.bnr-pad2{
  margin-bottom:13px;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 
.hide-txt{
  display:none;
}
.wishlits-btn-margin{
  margin: 0 !important;
}
.shpo-cart-outer .btn{
  width:100% !important;
}
.cartbg-pad-first{
  padding-right:15px !important;
  margin-bottom:15px !important;
}
.cartbg-pad-last{
  padding-left:15px !important;
  margin-bottom:15px !important;
}
.cartbg-pad{
  padding-right:15px !important;
  padding-left:15px !important;
  margin-bottom:15px !important;
}
.buy-cart-bttn .btn{
  width:100% !important;
}
.buy-cart-bttn {
  margin-top:15px !important;
  margin-bottom:15px !important;
}
.srch-lbl {
  text-align:center;
}
.my-pro-grid .thumbnail{
  border-bottom:solid 1px #ccc;
}
.bnr-pad{
  padding-left:15px;
  padding-right:15px;
}
.img-responsive{
  width:100%;
}
.post .post-img-content{
  height: 186px !important;
}
.post .post-title b
{
    margin-top: 161px !important;
}
.cart-tx2 {
    position: absolute;
    right: 18px;
    top: 6px;
    color: #fff !important;
}
.list-inline {
    padding-left: 0;
    margin-left: -14px;
    list-style: none;
}
.free-shipping ul li {
    font-size: 10pt;
    padding: 0 8px;
    line-height: 15px;
    margin-top: 0px;
}
.grt-deals2{
  padding-left:8px !important;
  padding-right:8px;
}

}
/*====menu end===========*/
.grt{
  font-size:15pt;
  font-weight:normal;
  color:#000;
  text-align:center;
  margin: 12px 0px 20px 0;
}
.grt span a{
  color:#ff8500 !important;
}

/*====smal 3 thumbnail start===========*/
.post
{
    background-color: #FFF;
    overflow: hidden;
  border:solid 1px #dfdfdf;
}
.post .content
{
    padding: 15px;
}
 .author a{
   color:#666;
 }
.post .author
{
    font-size: 16px;
    color: #737373;
}
.post .post-img-content
{
    height: 235px;
   position: relative;
}
.post .post-img-content img
{
    position: absolute;
}
.post .post-title
{
    display: table-cell;
    vertical-align: bottom;
    z-index: 2;
    position: relative;
}
.post .post-title b
{
    background-color: #ff8500;
  font-family: 'Signika', sans-serif;
    display: inline-block;
    margin-bottom: 5px;
    color: #FFF;
    padding: 7px 15px;
    margin-top: 206px;
}
.arw{
  color:#14acb0;
  font-weight:bold;
}
.grt-deals{
  padding-left:8px;
  padding-right:8px;
}
.grt-deals2{
  padding-left:0px;
  padding-right:8px;
}
.three-prod .post
{
    background-color: #FFF;
    overflow: hidden;
  border:none;
  margin-top:15px;
  
}
.three-prod  .small-light-left .post .post-img-content{
  height: 242px;
}
.three-prod  .large-light .post .post-img-content
{
    height: 496px;
   position: relative;
}
.bottom-img {
  margin-top:15px 0;
}
.bottom-img {
  margin-top:15px;
  margin-bottom:15px;
}
.bottom-img .post .post-img-content{
  height: 290px;
}
.bottom-img .post {
  border:none;
}
.mad-center-txt{
  font-size:15pt;
  font-weight:normal;
  color:#666;
  margin-top:15px;
  margin-bottom:15px;
}
.mad-center-txt span{
  font-size:11pt;
  font-weight:normal;
  color:#000;
  font-style:italic;
  line-height:44px;
}
.free-shipping-bx{
  margin-left:6%;
  margin-right:6%;  
}
.ship-box{
  border:solid 1px #ccc;
  padding:15px;
  margin-bottom:15px;
  margin-top:15px;
}
.ship-box-title{
  color:#000;
  font-size:13pt;
}
.ship-box-content{
  color:#666;
  font-size:10pt;
}
.ship-box p a{
  color:#1dbccd;
}
.signup{
  border-top:solid 1px #dfdfdf;
  margin-top:30px;
  padding:19px 0;
}
/*====smal 3 thumbnail end===========*/


/*====bottom social start===========*/
ul.social-network {
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}
.social-network a.icoRss:hover {
  background-color: #F56505;
}
.social-network a.icoFacebook:hover {
  background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
  background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
  background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
  background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
  background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
  color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
}

.social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 35px;
  height: 35px;
  font-size:20px;
}
.social-circle li i {
  margin:0;
  line-height:35px;
  text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}
.ftr-socail{
  margin-bottom:15px;
}
.ftr-socail a {
 background-color: #D3D3D3;   
}
/*====bottom social end===========*/

/*====footer start===========*/
.foter-bg{
  background:#f0f0f1;
  padding:15px 0;
}
.footer-uli li a{
  color:#666;
  text-align:right;
}
.footer-copyright{
  color:#666;
  font-size:10pt;
  margin-top:10px;
  padding-bottom: 10px;
}
.ftr-bordr{
  border-bottom:solid 1px #dfdfdf;
  padding:5px 0;
  margin-bottom:10px;
}
.ftr-ul {
     list-style-type: none;
     margin: 0px;
     padding: 0px;
   font-size:10pt;
   color:#666;
}
.ftr-ul a{
   color:#666;
} 
.brand-nav li{
  border-bottom: solid 1px #f1f1f1;
}
.ftr-titl {
     font-size: 15px;
     color: #000;
}
.ftr-arw{
  color:#000;
}
/*====footer end===========*/

/*====category left start===========*/
.my-check-outer{
  margin:10px 0 25px 26px;
}
.my-check{
  border-bottom:solid 1px #f6f6f6;
  padding-bottom:10px;
  padding-top:10px;
}
.my-check input[type=checkbox].css-checkbox {
              position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
            }

            .my-check input[type=checkbox].css-checkbox + label.css-label {
              padding-left:26px;
              height:21px; 
              display:inline-block;
              color:#666;
              font-weight:normal;
              line-height:21px;
              background-repeat:no-repeat;
              background-position: 0 0;
              font-size:10pt;
              vertical-align:middle;
              cursor:pointer;

            }

            .my-check input[type=checkbox].css-checkbox:checked + label.css-label {
              background-position: 0 -21px;
            }
            label.css-label {
        background-image:url(/assets/check.png);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
.main-colps .panel-default{
  border:none;
}
.main-colps .panel-heading{
  border-radius:0;
}
.main-colps .panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body{
  border:none;
}
.main-colps .panel{
  box-shadow:none;
}
.main-colps .panel-body{
  padding:30px 0px 45px 0px;
}
#accordion .panel-heading { padding: 0;}
#accordion .panel-title > a {
  display: block;
  padding: 0.4em 0.6em;
    outline: none;
    font-weight:normal;
  text-transform:uppercase;
    text-decoration: none;
}

#accordion .panel-title > a.accordion-toggle::before, #accordion a[data-toggle="collapse"]::before  {
    content:"\e113";
    float: left;
  font-weight:normal;
  color:#1dbccd;
    font-family: 'Glyphicons Halflings';
  margin-right :1em;
}
#accordion .panel-title > a.accordion-toggle.collapsed::before, #accordion a.collapsed[data-toggle="collapse"]::before  {
    content:"\e114";
}
.left-cat-ul {
     list-style-type: none;
     margin: 0px;
     padding: 0px;
   font-size:10pt;
   line-height:32px;
   color:#666;
}
.left-cat-ul a{
   color:#666;
}
.left-cat-ul a:hover{
   color:#ff8500;
   text-decoration:none;
}  
.left-scrl{
  overflow-y:scroll;
  height:250px;
  margin-top:10px;
  margin-bottom:25px;
}
.left-scrl .panel-body{
  padding:5px 0px 25px 0px;
}
/*====category left end===========*/

/*====product detail start===========*/
.prd-details{
  margin:30px 0px 15px 0;
}
.prd-details-title{
  font-size:22pt;
  font-weight:normal;
  color:#666;
}
.prd-details-sub-title {
  font-size:10pt;
  font-weight:200;
  color:#999;
}
.prd-details-price {
  color:#999;
}
.dolr{
  margin-top:20px;
}
.prd-details-price-outer {
  font-size:14pt;
  font-weight:normal;
  font-family:arial;
  color:#666;
}
.free-ship{
  font-weight:bold;
  font-size:10pt;
  color:#000;
}
.free-ship span{
  font-weight:normal;
  font-size:10pt;
}
.pnit{
  color:#bd0b20;
}
.frnd{
  color:#1dbccd;
}
.detail-ryt-end-outer{
  font-size:10pt;
  color:#666;
}
.drop-lis-fom .form-control{
  border-radius:0px;
  box-shadow:none;
}
.time-lead{
  font-size:12pt;
  color:#000;
  font-weight:normal;
  padding-right:15px;
  padding-bottom:5px;
}
.buy-cart-bttn {
  margin-top:12px;
}
.buy-cart-bttn .btn{
  margin: 4px 15px 4px 0px;
  border-radius:0;
  font-size:11pt;
}

.buy-cart-bttn .btn-xs{
    font-weight: 300;
}
   
.buy-cart-bttn .btn-hot {
  color: #fff;
  background:#4ac9d7;
}
.buy-cart-bttn .btn-hot:hover{
  color: #fff;
  background:#38bac8;
}
.btn-hot:focus{
  color: #fff;
  background:#38bac8;
}
.buy-cart-bttn .btn-hot-wish {
  color: #fff;
  background:#ff8500;
}
.btn-hot-wish:focus {
  color: #fff;
  background:#eb7b02;
}
.buy-cart-bttn .btn-hot-wish:hover {
  color: #fff;
  background:#eb7b02;
}
.tabs-bg-outer {
  margin-top:25px;
}
.tabs-bg-outer .nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  background:#666;
  color:#fff;
  font-weight:normal;
  padding:10px 30px;
}
.tabs-bg-outer .tabs-bg-outer .nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  background:#ff8500;
  color:#fff;
}
.tabs-bg-outer  .fade{
  background:#f5f5f5;
  padding:5px 15px 15px 15px;
  overflow: hidden;
  height: 310px;
  max-height: 350px;
}
.add-product-bx .form-control{
  border-radius:0px;
  box-shadow:none;
}
.add-product-bx .input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn-group:not(:last-child) > .btn, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle){
  border-radius:0px;
}
.add-product-bx .input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle{
  border-radius:0px;
}
.add-product-bx .input-group .form-control:not(:first-child):not(:last-child), .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child){
  text-align:center;
}
.dwnld-prnt{
  margin-top:20px;
  margin-left:10%;
}
/*====product detail end===========*/
/*====cart detail start===========*/
.spinner input {
  text-align: right;
}

.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 2%;
  vertical-align: middle;
  display: table-cell;
}

.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 4px;
}
.cartbg{
  background-color:#f5f5f5;
  padding:10px;
  margin-bottom:35px;
  overflow:hidden;
  border-bottom:solid 1px #ccc;
}
.bordr-btm{
  border-bottom:solid 1px #f5f5f5;
  overflow:hidden;
  padding-top:30px;
  margin-bottom:20px;
}
.ordr-smry{
  margin:10px 0;
}
.ordr-smry2{
  margin-bottom:30px;
}
.ordr-txt{
  font-size:21pt;
  color:#666;
  font-weight:normal;
  padding-bottom:5px;
}
.ordr-pryc-smry-txt{
  background-color:#f5f5f5;
  border:solid 1px #ccc;
  color:#666;
  font-weight:normal;
  padding:20px 5px 5px 30px;
  overflow:hidden;
}
.ord-title ul{
  list-style:none;
  line-height:30px;
}
.ord-subtotl{
  border-top:solid 1px #ccc;
  line-height:30px;
  padding-top:10px;
  color:#000;
  font-size:12pt;
}
.shpo-cart{
  padding-right:5px;
  font-size:18px;
}

.shpo-cart-outer {
  margin-top:12px;
}
.shpo-cart-outer .btn{
    margin: 4px 15px 4px 0px;
  border-radius:0;
  width:46%;
  font-size:11pt;
}

.shpo-cart-outer .btn-xs{
    font-weight: 300;
}
   
.shpo-cart-outer .btn-hot {
color: #fff;
  background:#4ac9d7;
}
.shpo-cart-outer .btn-hot:hover {
color: #fff;
  background:#38bac8;
}
.shpo-cart-outer .btn-hot-wish {
color: #fff;
  background:#ff8500;
}
.shpo-cart-outer .btn-hot-wish:hover {
color: #fff;
  background:#eb7b02;
}
.shopo-ul{
  padding:0px;
}
.shopo-ol{
  color: #999;
  font-size: 10pt;
    line-height: 25px;
    margin-top: 10px;
    padding: 0 15px;
}
.mycart-ttl{
  color: #666;
  font-size:19pt;
}
.mycart-ttl a{
  color: #ff8500;
  font-size: 13pt;
}
.mycart-ttl a:hover{
  color: #ff8500;
  text-decoration:none;
}
.grnd-ttl{
  color: #666;
  padding-top:5px;
  font-size:10pt;
}
.grnd-ttl a{
  color: #666;
}
/*====cart detail end===========*/

/*====login start===========*/
.login-tx .form-control{
  border-radius:0px;
  box-shadow:none;
}
.begintx{
  margin-top:25px;
}
.advantages-login{
  border-left:solid 1px #ccc;
  color:#666;
  font-weight:normal;
  padding:0px 5px 5px 30px;
  margin-top:20px;
}
.advantages-login p{
  color:#4ac9d7;
  font-weight:normal;
}
.advantages-login span{
  color:#666;
  font-weight:normal;
}

.mylog-page{
  margin-top:10px;
}
.mylog-page input[type=checkbox]:not(old),
.mylog-page input[type=radio   ]:not(old){
  width     : 2em;
  padding   : 0;
  opacity   : 0;
  cursor:pointer;
  
}

.mylog-page input[type=checkbox]:not(old) + label,
.mylog-page input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height: 24px;
  font-weight: normal;
  font-size: 10pt;
  cursor:pointer;
}
.mylog-page input[type=checkbox]:not(old) + label,
.mylog-page input:hover[type=radio   ]:not(old) + label{
  color:#4ac9d7;
}

.mylog-page input[type=checkbox]:not(old) + label > span,
.mylog-page input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 20px;
  height           : 20px;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 50%;
  background       : #fff;
  vertical-align   : bottom;
}
.mylog-page input[type=checkbox]:not(old) + label > span,
.mylog-page input:hover[type=radio   ]:not(old) + label > span{
  border           : 0.0625em solid rgb(74,201,215);
}


.mylog-page input[type=checkbox]:not(old):checked + label > span,
.mylog-page input[type=radio   ]:not(old):checked + label > span{
border           : solid 1px #4ac9d7;
}

.mylog-page input[type=radio]:not(old):checked +  label > span > span{
  display          : block;
  width            : 12px;
  height           : 12px;
  margin           : 3px;
  border           : solid 1px #4ac9d7;
  border-radius    : 50%;
  background       :#4ac9d7;
}
.login-forgot {
  margin-top:10px;
}
.login-forgot p a{
  margin-top:10px;
  color:#666;
}
.login-forgot p a:hover{
  color:#4ac9d7;
}
/*====login end===========*/

/*====registration start===========*/
.registration-tx {
  margin-bottom:15px;
  font-weight:normal;
}
/*====registration end===========*/

/*====forgot password start===========*/
.reset {
  margin-top:15px;
  font-weight:normal;
  font-size:9pt;
}
/*====forgot password end===========*/

/*====checkout start===========*/
.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.chk-page .panel{
  box-shadow:none;
  border-radius:0px;
}
.chk-page .form-control{
  border-radius:0px;
  box-shadow:none;
}
.chk-page label{
  font-weight: normal;
}
.chk-page code{
  background:none;
}
.chk-page .my-check{
  border-bottom:none;
}
.chk-page .my-check input.css-checkbox[type="checkbox"] + label.css-label{
  color:#4ac9d7;  
}
.margin-top15{
  margin-top:30px;
}
.box-circle .btn-primary{
  background-color: #ff8500;
  border:solid 1px #ff8500;
}
.box-circle .btn.disabled, .btn[disabled], fieldset[disabled] .btn{
  opacity:1.00;
}
.box-circle.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary.focus[disabled], .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover{
  background-color: #ff8500;
  border:solid 1px #ff8500;
}
.ordr-pryc-smry-txt{
  background-color:#f5f5f5;
  border:solid 1px #ccc;
  color:#666;
  font-weight:normal;
  padding:20px 5px 5px 15px;
  overflow:hidden;
  margin-top:15px;
}
.thre-btn .shpo-cart-outer .btn{
  width: 24%;
}

/*==payment==*/

.steps {
    margin-top: -41px;
    display: inline-block;
    float: right;
    font-size: 16px
}
.step {
    float: left;
    background: white;
    padding: 7px 13px;
    border-radius: 1px;
    text-align: center;
    width: 100px;
    position: relative
}
.step_line {
    margin: 0;
    width: 0;
    height: 0;
    border-left: 16px solid #fff;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    z-index: 1008;
    position: absolute;
    left: 99px;
    top: 1px
}
.step_line.backline {
    border-left: 20px solid #f7f7f7;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    z-index: 1006;
    position: absolute;
    left: 99px;
    top: -3px
}
.step_complete {
    background: #357ebd
}
.step_complete a.check-bc, .step_complete a.check-bc:hover,.afix-1,.afix-1:hover{
    color: #eee;
}
.step_line.step_complete {
    background: 0;
    border-left: 16px solid #357ebd
}
.step_thankyou {
    float: left;
    background: white;
    padding: 7px 13px;
    border-radius: 1px;
    text-align: center;
    width: 100px;
}
.step.check_step {
    margin-left: 5px;
}
.ch_pp {
    text-decoration: underline;
}
.ch_pp.sip {
    margin-left: 10px;
}
.check-bc,
.check-bc:hover {
    color: #222;
}
.SuccessField {
    border-color: #458845 !important;
    -webkit-box-shadow: 0 0 7px #9acc9a !important;
    -moz-box-shadow: 0 0 7px #9acc9a !important;
    box-shadow: 0 0 7px #9acc9a !important;
    background: #f9f9f9 url(/assets/pay.jpg) no-repeat 98% center !important
}

.btn-xs{
    line-height: 28px;
}

/*login form*/
.cards{
    padding-left:0;
  list-style:none;
  margin:15px 0;
}
.cards li {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  background-image: url(/assets/pay.jpg);
  background-position: 0 0;
  float: left;
  height: 32px;
  margin-right: 8px;
  text-indent: -9999px;
  width: 51px;
}
.cards .mastercard {
  background-position: -51px 0;
}
.cards li {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  background-image: url(/assets/pay.jpg);
  background-position: 0 0;
  float: left;
  height: 32px;
  margin-right: 8px;
  text-indent: -9999px;
  width: 51px;
}
.cards .amex {
  background-position: -102px 0;
}
.cards li {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  background-image: url(/assets/pay.jpg);
  background-position: 0 0;
  float: left;
  height: 32px;
  margin-right: 8px;
  text-indent: -9999px;
  width: 51px;
}
.cards li:last-child {
  margin-right: 0;
}
.ulmar-botm{
  margin-top:15px;
}

.place-ord-bt {
  margin-top:12px;
}
.place-ord-bt .btn{
    margin: 4px 15px 4px 0px;
  border-radius:0;
  width:75%;
  font-size:11pt;
}

.place-ord-bt .btn-xs{
    font-weight: 300;
}
   
.place-ord-bt .btn {
color: #fff;
  background:#ff8500;
}
.place-ord-bt .btn:hover {
color: #fff;
  background:#eb7b02;
}
/*====checkout end===========*/

 /*==== pagination start ===========*/
.category-pagin{
 margin:0px;
}
.category-pagin .pagination>li>a, .pagination>li>span{
 border:none;
 padding: 6px 8px;
 color:#000;
}
.category-pagin .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
 background:none;
 color:#ff8500;
 font-size:15px;
 font-weight:bold;
}
.category-pagin .pagination>li>a:hover, .pagination>li>span{
 background:none;
}
.pagination li.prev>a, .pagination li.next_page>a{
  color: #666;
}
/* Pagination end */
/*==== start rating start ===========*/
div.stars {
  display: inline-block;
}
input.star { display: none; }
label.star {
  float: right;
  padding: 1px;
  font-size: 14px;
  color: #ccc;
  transition: all .2s;
}
input.star:checked ~ label.star:before {
  content: '\f005';
  color: #ff8500;
  transition: all .25s;
}
input.star-5:checked ~ label.star:before {
  color: #ff8500;
}
input.star-1:checked ~ label.star:before { color: #F62; }
label.star:before {
  content: '\f005';
  font-family: FontAwesome;
}
.star-margin label.star:hover{
  color: #ff8500;
  cursor: pointer;
}
/*==== start rating end ===========*/
/*==== review start ===========*/
.review-page{
 margin-top:15px;
 margin-bottom:15px;
}
.review-page-left{
 border:solid 1px #eeeeee;
 margin-top:15px;
 padding:10px;
}

.review-page strong{
 font-size:10pt;
 color:#000;
 font-weight:normal;
}
.make-review{
 font-size:10pt;
 color:#ff8500;
}
.make-review-p-content{
 font-size:9pt;
 color:#666;
}
.choose-review{
 font-size:11pt;
 color:#000;
}
.laft-rv-img{
 margin-top:10px;
}
.laft-rv-img img{
 vertical-align: top;
 width: 50px;
 float: left;
 margin-right: 10px;
}
.warn-text{
 background:#e4fff1;
 color:#000;
 font-weight:normal;
 border:solid 1px #d8ffeb;
 font-size:12pt;
 padding:10px;
}
.help-other-text{
 border-bottom:solid 1px #eeeeee;
 margin-top:15px;
 font-size:12pt;
 color:#ff8500;
 padding-bottom:10px;
}
.mandatory-text{
 margin-top:15px;
 margin-bottom:15px;
 font-size:9pt;
}
.mandatory-text span{
 color:red;
}
.review-page-form  .form-control{
 box-shadow:none;
 border-radius:0;
 font-weight:normal;
 width:84%;
}
.bg-grayfrom{
 background:#f2f2f2;
 padding:12px 10px 6px 10px;
}
.review-page-form label{
 width: 15%;
 font-weight:normal;
 vertical-align: top;
 padding-top:8px;
 color:#000;
}
.review-page-form .form-group{
  margin-bottom: 3px;
}
.max-txt-sml{
 font-size:9pt;
 padding-left: 15.4%;
}
.star-margin{
  margin-bottom: -18px;
  margin-left: -38px;
}
/*==== review end ===========*/
/*==== review on detail page start ===========*/
.star-small-text label.star{
 font-size: 11px;
 padding: 0 1px;
 margin-top:15px;
}
.revier-name{
 font-size:9pt;
}
.revier-sub{
 margin-top:15px;
 font-size:11pt; 
 color:#000;
 font-weight:normal;
}
.revier-overflow{
 overflow:hidden;
}
/*==== review on detail page end ===========*/
 /*==== all review start ===========*/
.all-review{
 border-bottom: 1px dotted #eeeeee;
    color: #000;
    font-size: 14pt;
 line-height:29px;
    padding-bottom: 10px;
}
.all-review-margin{

}
.all-review-sub{
 margin-top:15px;
 margin-bottom:10px;
 font-size:10pt; 
 color:#000;
 font-weight:normal;
}
.review-border-bottom{
 border-bottom: 1px dotted #ccc;
 margin-bottom:20px;
 padding-bottom:20px;
}
.review-all-buy {
 margin-top:12px;
}
.review-all-buy .btn{
    margin: 15px 15px 15px 0px;
 border-radius:0;
 font-size:9pt;
}

.review-all-buy .btn-xs{
    font-weight: 300;
}
   
.review-all-buy .btn-hot {
 color: #fff;
 background:#4ac9d7;
 border:solid 1px #229fad;
}
.review-all-buy .btn-hot:hover{
 color: #fff;
 background:#38bac8;
 border:solid 1px #229fad;
}
.margin-have{
 margin-right:15px;
}
/*==== all review end ===========*/
.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}
.no-padding {
    padding: 0;
 font-size:8pt;
}
.no-pad-releated-product{
 padding-right: 0;
}
.text-releated-product{
 font-size:8pt;
 color:#ff8500;
}
.text-releated-product-cart i{
 color:#1dbccd;
 font-size:10pt;
 padding-right:5px;
}
.text-releated-product-cart a{
 color:#1dbccd;
 font-size:10pt;
}
.saprator-related-prod{
 height: 1px;
    width: 100%;
    background-color: #d9d9d9;
}
.box-1-related{
 margin-bottom:10px;
 border-bottom:dotted 1px #f1f1f1;
 overflow:hidden;
}
/*==== multiple product slider start ===========*/
.next-prv-arow{
 color: #ff8500;
 font-weight:normal;
 font-size:12pt;
}
.bottom-col-item
{
    border: 1px solid #f5f5f5;
    border-radius: 0px;
    background: #FFF;
 overflow:hidden;
}
.bottom-col-item .bottom-photo img
{
    margin: 0 auto;
    width: 100%;
}
.bottom-col-item .bottom-price
{
    width: 100%;
    float: left;
    /*height:60px;*/
 word-wrap: break-word;
 padding:5px;
    max-height:80px;
}
.bottom-price .price-text-color
{
    color: #ff8500;
 line-height:10px;
    font-size: 13pt;
}
.bottom-col-item .bottom-info .rating
{
    color: #777;
}
.bottom-col-item .bottom-separator
{
    border-top: 1px solid #f5f5f5;
}
.bottom-col-item .btn-add
{
    width: 50%;
    float: left;
}
.bottom-col-item .bottom-btn-add
{
    border-right: 1px solid #E1E1E1;
}
.bottom-col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.bottom-controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}
/*==== multiple product slider end ===========*/
/* Custom CSS start */
.list-group-item{
  border:none;
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 0;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus
{
  background-color: #f5f5f5;
  color: #1dbccd;
  border-bottom: 1px solid #f5f5f5;
}
.thumbnail{
  border:none;
}
.breadcrumb{
  border-radius: 0;
  margin-bottom: 0;
}
.well{
  border-bottom:1px solid #ccc !important;
  border:none;
  background: #fff;
  border-radius: 0;
  box-shadow: none;
}
.title-gray15 p{
  color:#666 !important; 
  font-size: 12pt;
}
.thumbnail .caption{
  padding:0 9px;
}
#btn-hot-wish{
  width: 100% !important;
  margin-left: 10px;
}
#home .well{
  background-color: #f5f5f5;
  border: none !important;
}
.wishlist-item-btn{
  margin-left: 10px;
}
.wisbt{
  margin-left: 20px;
}
#quantity{
  width: 40%;
  border-radius: 0;
}
.cart-item-quantity input[type=number]{
  width: 40%;
}
.btn-hot {
  color: #fff;
  background:#4ac9d7;
  border-radius: 0;
  font-size: 11pt;
}
.btn-hot:hover {
  background: #38bac8 none repeat scroll 0 0;
  color: #fff;
}
.btn-hot-wish {
  color: #fff;
  background:#ff8500;
  border-radius: 0;
  font-size:11pt;
}
.btn-hot-wish:hover {
  color: #fff;
  background:#eb7b02;
}
#update-button{
  margin-right: 10px;
}
.cart-item-description{
  width: 40%;
}
.cart-item-price, .cart-item-total {
  color: #666 !important;
}
.cart-item-delete a{
  color: #ff8500;
}
.stepwizard-row li.active a{
  background-color: #ff8500;
  border: 1px solid #ff8500;
  color: #fff;
}
#shipping, #billing{
  border-radius: 0;
}
.free-shipping .dropdown-menu{
  margin-top:0;
}
.bottom-arrow-catgory{
  font-size: 20pt;
  color: #ff8500;
  font-weight: bold;
  vertical-align: middle;
  padding-right: 5px;
}
.list-group:first-child{
  margin-top: 5px;
}
.price{
  color: #ff8500 !important;
  font-size: 13pt !important;
}
.price-filter{
  color: #ff8500 !important;
  font-size: 11pt !important;
}
.wishlists-ul{
  list-style-type: none;
  font-size: 11pt;
  padding: 0;
}
#product-variants ul li{
  list-style-type: none;
}
#product-variants label{
  font-weight: normal;
  font-size: 11pt;
  margin: 0;
}
#product-variants{
  margin-top: -16px;
}
.variant-block .mylog-page input[type="checkbox"]:not(old), .mylog-page input[type="radio"]:not(old){
  width: 0;
}
.variant-block h3{
  padding-left: 20px;
}
.existing-credit-card-list li{
  list-style-type: none;
}
.specs ul, ul li{
  list-style-type: none;
}
.spec-image img{
  max-width: 250px;
}
.specs ul li{
  text-transform: capitalize;
}
.new-star-page{
  float: left;
}
.list-review-new{
  border-left: 1px solid #ccc;
  padding: 10px;
}
.review-content{
  font-size: 12px;
}
.review-content-head{
  font-weight: bold;
}
.mandatory-icon{
  color: red;
}
.specs span{
  color: #ff8500;
}
.category-rating{
  margin-left: 34%;
}
.review-page-form label.star{
  padding: 8px;
}
.cloudzoom-lens{
  display: none;
}
#surround:hover .cloudzoom-lens{
  display: none;
}
.all-review-count{
  font-size: 9pt;
}
.all-review-count a{
  color: #666;
}
.review-count-padding{
    padding: 0px;
}
#update-cart .table > tbody + tbody{
  border-top: none !important;
}
#cart-detail thead > tr > th, .stock-contents thead > tr > th, #line-items thead > tr > th{
  border-bottom: none !important;
  font-weight: normal;
}
.form-control{
  border-radius:0;
  box-shadow:none;
}
.cart-item-delete a{
  color: #000;
  font-size: 13pt;
}
.shipping-methods li{
  margin-top: 0;
  border-style: none;
}
.order-sub-total{
  text-align: right;
}
.edit-action{
  color: #ff8500;
}
.edit-action:hover{
  color: #eb7b02;
}
.accurate-order-title{
  color: #eb7b02; 
}
#shipping_method{
  margin: 15px 0 0 0;
}
.select-shipping_method-txt{
  font-size: 12pt;
  color: #000;
  padding: 0 0 8px 12px;
  margin-bottom: 15px;
  border-bottom: solid 1px #ddd;
}
#shipping_method li.list-group-item{
  padding: 0 15px;
}
.name-card-margin{
  margin-bottom: 20px;
}
.confirm-order-text{
  color: #000;
  font-size: 10pt;
}
#line-items{
  margin: 15px 0 0 0;
}
.wishlits-btn-margin{
  margin: -78px 0px 0px 12px;
}
.related-products-sec{
  margin-top: 58px;
}
.related-product-head{
  margin-bottom: 10px;
  text-align: center;
}
.mylog-page input[type="radio"]:disabled + label {
  color: #aaa; 
}
.mylog-page input[type="radio"]:disabled + label > span > span{
  display          : block;
  height           : 0.5em;
  margin           : 0.125em;
  border           : solid 1px #ccc;
  border-radius    : 50%;
  background       :#ccc;
}
.stepwizard ul li.active a:hover{
  background-color: #ff8500;
  border: 1px solid #ff8500;
  color: #fff;
  cursor: default;
}
.img-slide-bottom{
  height: 150px;
}
.poplar-rating{
  margin-left: 44px;
}
.thumbelina-but i{
  color: #ff8500;
  font-size: 16pt;
}
#thumbnails .inactive{
  display: none;
}
/* Custom CSS start */
