<div class="about-fullbg">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="your-life"><h1>Your life.<br><span>Your design.</span></h1></div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="helping-text"><h1>Helping people bring great design into the spaces they live, work and play.</h1></div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="container review-page text-about-light">
  <h1>Helping people bring great design into the spaces they live, work and play.</h1>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <p>iLighting is an online-led retailer offering the best in modern and contemporary lighting, furnishings, and decorative plumbing to design driven consumers and trade professionals.</p>
      <p>iLighting, our flagship brand that launched in 2015, is the leading modern lighting retailer in the US and offers more than 1000 designs from top international brands. </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <p>In 2015, we expanded into the decorative plumbing category with the launch of iLighting.</p>
      <p>iLighting inspires our customers to confidently fulfill their interior design visions with us by providing them an incomparable experience: a combination of products, advice, inspiration, site design and services that no competitor can match.</p>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h4>Brand Partners + Product Designers</h4>
        <p> iLighting is committed to bringing customers the best in modern and contemporary design. Our seasoned merchandising team searches worldwide for products and partners who share this commitment to great design and an incomparable customer experience. Our merchants emphasize accurately representing and communicating our partners’ brand story. Each brand and product page is overseen by a dedicated merchandiser.  In addition, YDesign Group’s sales team averages more than 15 years of retail and commercial furnishings experience. Finally, we have the best marketing team in the space to make sure we reach the design community to introduce them to our product partners in a compelling way. </p>
      <p>If you are interested in partnering with YDesign Group, please contact us. We look forward to hearing from you.</p>
      <p>Lighting: products@ilighting.com</p>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h4>Trade Program</h4>
      <p>Our Trade Program offers exclusive benefits and support for design professionals. Once you are registered, you are automatically enrolled to receive Trade Program benefits on iLighting.</p>
      <p>Our Trade Program benefits and resources include:</p>
      <ul>
        <li>Trade discount pricing</li>
        <li>Project and account management support</li>
        <li>Complimentary quotes and design consultation</li>
        <li>Dedicated technical and customer service support</li>
        <li>Trade newsletters with exclusive previews to sales and new products</li>
        <li>Free swatches, delivered directly to you or your clients</li>
        <li>Customized specifications sheets</li>
      </ul>
    </div>
  </div>
</div>
<%= render partial: 'spree/shared/footer_top' %>