<div class="careers-fullbg">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="your-life"><h1>Work Play<br><span>Live Modern.</span></h1></div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="container review-page text-about-light">
  <h1>Design. Driven. People.</h1>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <p>The iLighting is for our brands to be the leading destinations for design driven people to explore and realize their interior design visions. We entrust and empower our employees to build lasting relationships with our customers, and we promise opportunities for our employees to grow, to be challenged, and to achieve personal fulfillment. In return, we ask for the team’s commitment to delivering an incomparable experience for our customers and helping us realize our vision.</p>
      <p>Join the conversation at <a href="contact-us.html">iLighting.com/contact-us.html</a></p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <img class="img-responsive" src="/assets/careerstm.png" />
    </div>
    <div class="clearfix"></div>
  </div>
  <hr>
  <div class="slide-carasoul">
    <div class="container">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators --> 
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides --> 
        <div class="carousel-inner text-center">
          <div class="item active">
            <div class="row">
                <div class="thumbnail adjust1">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="caption">
                      <h4>Obsessed with Customers</h4>
                      <p class="text-info lead adjust2">We have an uncompromising pursuit of getting it right for our customers.</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="thumbnail adjust1">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="caption">
                    <h4>Continuous Improvement</h4>
                    <p class="text-info lead adjust2">We challenge the status quo to see if there’s a better way. Small steps and great leaps. Both matter.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="thumbnail adjust1">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="caption">
                    <h4>Play to win</h4>
                    <p class="text-info lead adjust2">We focus on results achieved and not simply tasks completed.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'spree/shared/footer_top' %>