<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h3 class="mad-center-txt">iLighting Customer Service </h3>
    <p>Expert Advice + Service</p>
    <p>Our mission at iLighting is to help people bring great design into the spaces where they live, work and play. We are a team of design enthusiasts who are passionate about what we do and eager to help you realize your design visions.</p>
    <p>Our team of expert Sales and Customer Service professionals boast years of practical experience in the home furnishings, lighting and decorative plumbing industries. If you need advice on design solutions, technical installations, lead times or just want to check a dimension, we would love to hear from you.</p>
    <h4>Contact Us:</h4>
    <address>
      <strong>Call Us</strong><br>
      <i class="fa fa-phone"></i>  (123) 456-7890
    </address>
    <address>
      Weekend Hours (PST)
      Saturday 6:00am - 4:00pm
      Sunday 8:00am - 2:00pm 
    </address>
    <address>
      <strong>iLighting</strong><br>
      1244 Market Street, Suite 900<br>
      Boston, CA 94103<br>
    <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
    <address>
      <strong>Email Us</strong><br>
      <i class="fa fa-paper-plane"></i> <a href="mailto:sales@companyname.com">sales@companyname.com</a>
    </address>
  </div>
</div>
<%= render partial: 'spree/shared/footer_top' %>