<div class="">
  <div class="row">
    <div class="col-lg-9 col-md-9 col-lg-push-3 col-md-push-3 grt-deals2">
    <ul id="demo1">
      <li>
        <img src="/assets/slider.jpg" />
        <!--Slider Description example-->
        <div class="slide-desc">
          <h2>BEST DESIGNS <br>OF 2015</h2>
          <p>NEW INNOVATIVE MODERN LIGHTING</p>
          <p>
            <%= link_to spree.products_path, class: "btn btn-default orange-circle-button" do %>
              SHOP NOW 
              <span class="orange-circle-greater-than">></span>
            <% end %>
          </p>
        </div>
        </li>
        <li>
          <img src="/assets/slider2.jpg" />
          <div class="slide-desc">
            <h2>BEST DESIGNS <br>OF 2015</h2>
            <p>NEW INNOVATIVE MODERN LIGHTING</p>
            <p>
              <%= link_to spree.products_path, class: "btn btn-default orange-circle-button" do %>
                SHOP NOW 
                <span class="orange-circle-greater-than">></span>
              <% end %>
            </p>
          </div>
        </li>
        <li>
          <img src="/assets/slider.jpg" />
          <div class="slide-desc">
            <h2>BEST DESIGNS <br>OF 2015</h2>
            <p>NEW INNOVATIVE MODERN LIGHTING</p>
            <p>
              <%= link_to spree.products_path, class: "btn btn-default orange-circle-button" do %>
                SHOP NOW 
                <span class="orange-circle-greater-than">></span>
              <% end %>
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-lg-pull-9 col-md-pull-9 grt-deals">
      <div class="bnr-pad2">
        <img class="img-responsive" src="/assets/light1.jpg">
      </div>
      <div class="bnr-pad2">
        <img class="img-responsive" src="/assets/light2.jpg">
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="grt">GREAT DEALS ON GREAT DESIGNS Check out all current promotions.  
        <span><a href="#">VIEW ALL</a></span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 grt-deals">
      <div class="post">
        <div class="post-img-content">
          <img src="/assets/light3.jpg" class="img-responsive" />
          <span class="post-title"><b>UPTO 25% OFF</b></span>
        </div>
        <div class="content">
            <div class="author">
              <a href="">Led Light Name <i class="fa fa-angle-double-right arw"></i></a>
            </div>
          </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 grt-deals">
      <div class="post">
        <div class="post-img-content">
          <img src="/assets/light4.jpg" class="img-responsive">
          <span class="post-title"><b>UPTO 25% OFF</b></span>
        </div>
        <div class="content">
         <div class="author">
            <a href="">Led Light Name <i class="fa fa-angle-double-right arw"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 grt-deals">
      <div class="post">
        <div class="post-img-content">
          <img src="/assets/light5.jpg" class="img-responsive">
          <span class="post-title"><b>UPTO 25% OFF</b></span>
        </div>
        <div class="content">
          <div class="author">
            <a href="">Led Light Name <i class="fa fa-angle-double-right arw"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="three-prod">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 grt-deals">
        <div class="small-light-left">
          <div class="post">
            <div class="post-img-content">
              <img src="/assets/left-light1.jpg" class="img-responsive">        
            </div>
          </div>
          <div class="post three-prod">
            <div class="post-img-content">
              <img src="/assets/left-light2.jpg" class="img-responsive">           
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 grt-deals">
        <div class="large-light">
          <div class="post">
            <div class="post-img-content">
              <img src="/assets/light-large.jpg" class="img-responsive">              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-img">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 grt-deals">
        <div class="post">
          <div class="post-img-content">
            <img src="/assets/bottom-two-light-a.jpg" class="img-responsive">
          </div>      
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 grt-deals">
        <div class="post">
          <div class="post-img-content">
            <img src="/assets/bottom-two-light-b.jpg" class="img-responsive">    
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'spree/shared/footer_top' %>
</div> 
<script type="text/javascript">
    jQuery(document).ready(function(){
      jQuery('#demo1').skdslider({'delay':5000, 'animationSpeed': 2000,'showNextPrev':true,'showPlayButton':false,'autoSlide':true,'animationType':'fading'});
    });
</script>