<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h3 class="mad-center-txt">Price Guarantee</h3>
    <p>100% Price Match</p>
    <p>We know you have choices in where you shop and price is an important component. As a leading, U.S. authorized, reseller of hundreds of premium brands, we agree to follow our manufacturer's pricing guidelines. We strive to bring you the best value possible with the final to your door price (including shipping and tax). We would love the opportunity to match a competitive price from an authorized dealer, for the exact product quoted.</p>
    <p>Our price guarantee does not extend to clearance, returns, discontinued and close-out items. Other restrictions may apply including cases when manufacturer's pricing policies negate a price match.</p>
  </div>
</div>
<%= render partial: 'spree/shared/footer_top' %>