<div class="text-faqs">
   <div class="row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h3 class="mad-center-txt">Returns + Cancellations</h3>
      <p>Cancellations</p>
      <p>Once we receive your order we get to work on it right away. This means that once we've started processing your order, changes and cancellations are not accepted. If you have any questions or concerns, please call our Customer Service Team.</p>
      <h4>Returns</h4>
      <p>We want you to love your purchase. iLighting accepts returns on a vast majority of our products (in new, uninstalled condition and original packaging) within 30 days of receipt, unless otherwise noted on the product page. Contact our Customer Service Team to initiate a return merchandise authorization (RMA). You are responsible for shipping the product back to us and we will credit your account within 10 days of receiving and inspecting the product in our warehouse, less a deduction for the price of outbound shipping. To ensure it arrives safely, we highly recommend you return the product via the shipping method/carrier we used to send it to you. You must initiate shipment within 10 days of receipt of the RMA#.</p>
      <p>Please note that due to customs, shipping and duty fees, we are unable to accept returns on any Canadian orders. All orders shipped to Canada are final sale.</p>
      <p>Items marked "Non-returnable" may not be cancelled or returned. Custom or Made-to-Order items, imported items, and certain large volume orders are also non-cancellable and non-returnable.</p>
      <h4>Damages</h4>
      <p>Unfortunately, fragile items are sometimes damaged in shipping. We also understand the need to pre-order and plan for your design needs. As part of that process, we ask that you inspect all items individually once they arrive so that any damage claims can be made immediately. If your item arrives damaged or with parts missing, you must notify us within 3 days of receipt of the item(s). We will arrange a prompt replacement of the item. We will also request that you provide photos of any damaged product, along with the product packaging. Please contact our Customer Service Team and we will be happy to replace the item or send replacement parts as soon as possible. In some instances it is possible to repair damages and/or defects with replacement parts. When this is the case, we reserve the right to utilize this as a solution.</p>
      <h4>Defective Products</h4>
      <p>Please keep in mind that defective goods (those with factory defects, missing parts or other problems originating prior to shipment) are handled differently than damaged goods (which are damaged in shipping). We work closely with our suppliers to ensure that quality production and inspection procedures are in place, but sometimes defects do occur. We work with you to resolve these issues, but you must report any product defect within 30 days of receiving your order.</p>
      <h4>Warranties</h4>
      <p>Most of our manufacturers guarantee their products with a warranty. Please contact us if you have questions regarding specific product warranties.</p>
      <p>iLighting its suppliers shall not be liable for any indirect, special, consequential, or incidental damages including, without limitation, lost profits or revenues, costs of replacement goods, loss or damage to goods or services arising out of the use or inability to use this site or any product purchased from  iLighting, damages resulting from use of or reliance on the information present, even if  iLighting or its suppliers have been advised of the possibility of such damages.</p>
     </div>
    </div> 
   </div> 
<%= render partial: 'spree/shared/footer_top' %>