<div class="text-faqs">
 <div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h3 class="mad-center-txt">Shipping + Delivery</h3>
    <p>How Much Does Shipping Cost?</p>
    <p>We offer free shipping on most orders over $75. Orders that do not meet the $75 threshold are charged a $9.99 flat rate shipping fee. There are select product exclusions (unusually large or bulky items) that do carry associated shipping or handling charges. Additionally certain manufacturers require that we, as an authorized dealer, pass along specific shipping costs to the customer as well. In these cases, the total shipping charges are clearly identified on the product page or during checkout. For select products, upgraded delivery options may be available for purchase during checkout.</p>
    <h4>When Will My Order Ship?</h4>
    <p>We search the world to bring you the best assortment in modern design. Depending on what you order, your item might be sitting on a warehouse shelf just around the corner, or will be custom-made for you overseas. These factors impact the lead time required to prepare your order for shipment. We commit to giving you as much information as possible every step of the way during your order process and while you wait for your order to arrive.</p>
    <ul>
    <li>Each product has a general availability message on our website, indicating the expected ship date.</li>
    <li>After your order has been placed on our website, or over the phone, our Customer Service team will send you an email confirming the expected ship date within 24-48 hours.</li>
    <li>When your order ships, you will receive an email from us with specific carrier and tracking information.</li>
    <li>If your order ships via a freight company or includes White Glove service, the carrier will contact you directly to schedule delivery.</li>
    </ul>
    <p>If, at any point along the way, you need more information please don't hesitate to call our Customer Service team.</p>
    <h4>How Will My Order Ship And How Long Will It Take To Get To Me?</h4>
    <p>We will ship your order the fastest, most reliable way possible to ensure your purchase arrives ready for you to enjoy. Each item on our site has pre-determined shipping methods based on the specific characteristics of the product, and our years of experience in shipping these items successfully.</p>
    <h4>We offer three main delivery methods:</h4>
    <ul>
    <li>Small parcel items ship via UPS, FedEx or USPS and generally take 1-10 business days to arrive. 
    *Please note: The vast majority of our items ship with no signature required, but this is always done at the discretion of the delivery driver.</li>
    <li>Larger freight items ship via truck with curbside service and generally take 1-2 weeks to arrive. 
    *With this self-service delivery option, the truck driver will pull up to the curb in front of your home or building, and you'll need to move the goods inside your home once the driver has unloaded the items from the truck. If you live in an apartment or think you'll need assistance getting your order into your home, be sure to arrange friends or family-members support, or consider upgrading to a White Glove service described below.</li>
    <li>White Glove service is a higher level of freight service with more options and generally takes 2-3 weeks to arrive. These options include:</li>
    <ul>
    <li>First Threshold: where the driver will bring your item just inside the sweep of the first door.</li>
    <li>Inside Delivery/Room of Choice: includes moving the packaged product to your room of choice, but does not including opening/assembly/debris removal.</li>
    <li>Full White Glove with Assembly: a worthwhile option to consider when ordering items like beds and bookshelves that might require professional assembly. The delivery team will even take the packaging materials away for you!</li>
    </ul>
    <li>Please note that we do not support any wall mounting, plumbing or electrical wiring that may be required for your product.</li>
    </ul>
    <p>Items that ship directly from Europe and are not stocked in the United States have extended transportation lead times due to ocean transport of 4-5 weeks. These specific situations are noted on the product page.</p>
    <h4>Shipping Internationally</h4>
    <p>We are working to support the shipping of more and more items every day to Canada. However, there are some product exclusions. Our Customer Service team will confirm your order within 24-48 hours.</p>
    <ul>
    <li>Costs for Shipping and Duty to Canada will be calculated at the time of order and displayed in your shopping cart before the order is completed.</li>
    <li>All applicable Canadian shipping charges and taxes are clearly itemized during checkout.</li>
    <li>Premium shipping options may be available for an additional fee.</li>
    </ul>
    <p>All other international shipping requests should be directed to Customer Service.</p>
    <h4>A note about customs clearance:</h4>
    <p> By ordering goods from YDesign Group,LLC, you hereby authorize a licensed Canadian customs broker chosen by YDesign Group, LLC, to act as your agent, and to transact business with Canada Border Services Agency (CBSA) to clear your merchandise, account for applicable duties and taxes, to return merchandise to YDesign Group, LLC, and prepare and submit refund claims on your behalf for any merchandise that you return. You understand that CBSA will send any refund of duties and taxes that were paid on the returned merchandise to the broker, and that you will obtain the refund directly from YDesign Group, LLC, In this connection, you also authorize the customs broker to endorse any refund cheque issued by CBSA in your name, so that YDesign Group, LLC can be reimbursed.</p>
    <h3 class="mad-center-txt">Shipping FAQ's</h3>
    <h4>What If I Live In Alaska, Hawaii, Puerto Rico, or the U.S. Virgin Islands?</h4>
    <p>For these locations, additional shipping fees may apply. Our Customer Service team will confirm any such fees 24-48 hours after your order is placed, and will not finalize your order until you accept the final terms. Please note that, for orders to Puerto Rico or the U.S. Virgin Islands, we will be able to quote the shipping costs only and local taxes and duties may still apply.</p>
    <h4>Will You Ship To My PO Box?</h4>
    <p>Unfortunately, we cannot ship to PO Boxes or Military APOs.</p>
    <h4>What If I Need To Ship To Multiple Addresses?</h4>
    <p>Please contact our Customer Service team and they will assist you with your specific needs.</p>
    <h4>What If I Need To Send a Message Regarding a Vacation-hold or Do-not-ship before Requirements?</h4>
    <p>Please contact our customer service team immediately upon order placement, so that we can assist you with the appropriate arrangements.</p>
    <h4>What If My Order Arrives Damaged?</h4>
    <p>If by some chance, your item was damaged during transit, please contact our Customer Service team.</p>
    <h4>How Much Time Do I Have to Inspect My Package For Damage?</h4>
    <p>It is critical that you inspect your order upon delivery. Orders delivered via a freight carrier specifically must be inspected upon delivery of the item. If you find any issues, please contact our Customer Service team immediately.</p>
   </div>
  </div> 
</div>
<%= render partial: 'spree/shared/footer_top' %>